body {
  background-color: #f7f7f7;
}
.pricing-table {
  margin-top: 20px;
}
.pricing-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.pricing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.highlighted-plan {
  background-color: #f2f2f2;
}
.modal-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.modal-title {
  font-size: 24px;
}
.modal-body {
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.btn-primary {
  background-color: #007bff;
  border: none;
}
.btn-primary:hover {
  background-color: #0056b3;
}
